{% extends "inventario/base.html" %}

{% block title %} Eliminacion de Marca {% endblock  %}

{% block content_title %}
    <div class="container text-center">
        <h1>Desea eliminar:</h1>
    </div>
{% endblock content_title %}

{% block content %}

<div class='container text-center mt-5'>
    <div class='d-flex flex-column align-items-center'>

        <ul class= "list-unstyled">
            <li class='fs-5' >{{ object.cod_marca }} - {{ object.nombre }}</li> {% comment %} uso contexto por defecto OBJECT en MarcaDeleteView {% endcomment %}
            <li class= 'mt-5'>
                {% if object.imagen %}
                <img src="{{ object.imagen.url }}" alt="{{ object.imagen }}" class="img-thumbnail"style="max-height:100px;" >
                {% else %}
                -
                {% endif %}
            </li>
        </ul>

        <div class='d-flex gap-5 mt-5'>
            
            <form action="{% url "marca_delete" marca.id %}" method='POST' >
                {% csrf_token %}
                <input type='submit' value='Eliminar' class='btn btn-danger'>
            </form>
            
            <a href="{% url "marca_list" %}" class='btn btn-primary'>Volver</a>
        </div>
    </div>
</div>


{% endblock content %}