{% extends "inventario/base.html" %}

{% block title %} Detalle Clases {% endblock  %}

{% block content_title %}
<h1>Detalle</h1>
{% endblock content_title %}

{% block content %}

<div class='container'>
    <div class='row col-12' >
        <table class="table table-light table-striped">
            <thead class="table-info"> <!-- estos son los encabezados de la tabla -->
                <tr>
                    <th>Cod Clase</th>
                    <th>Nombre</th>
                    <th>Fecha Creacion</th>
                    <th>Fecha Modificacion</th>
                </tr>
            </thead>
            <tbody> <!-- Cuerpo de la tabla filas y columnas -->
                <tr>
                    <td>{{ object.cod_clase }}</td>
                    <td>{{ object.nombre }}</td>
                    <td>{{ object.fecha_creacion }} </td>
                    <td>{{ object.fecha_modificacion }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='row'>
        <div class='col-3'>
            <a href="{% url 'clase_list' %}" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>

{% endblock content %}