{% extends "inventario/base.html" %}

{% block title %} Eliminacion de Clases {% endblock  %}

{% block content_title %}
<h1>Eliminar</h1>
{% endblock content_title %}

{% block content %}

<p class='fs-5'>Desea eliminar la clase: </p>
<ul>
    <li class='fs-5' >{{ object.cod_clase }} - {{ object.nombre }}</li>
</ul>


<div class='d-flex gap-2'>
    <form action="" method='POST'>
        {% csrf_token %}
        <input type='submit' value='Eliminar' class='btn btn-danger'>
    </form>
    <a href="{% url "clase_list" %}" class='btn btn-primary'>Volver</a>
</div>


{% endblock content %}