{% extends "inventario/base.html" %}

{% block title %} Eliminacion de Parte {% endblock  %}

{% block content_title %}
    <div class="container text-center">
        <h1>Desea eliminar:</h1>
    </div>
{% endblock content_title %}

{% block content %}

<div class='container text-center mt-5'>
    <div class='d-flex flex-column align-items-center'>

        <ul class= "list-unstyled">
            <li class='fs-5' >{{ object.cod_parte }} - {{ object.nombre }}</li>
        </ul>

        <div class='d-flex gap-5 mt-5'>
            <form action="{% url "parte_delete" parte.id %}" method='POST'>
                {% csrf_token %}
                <input type='submit' value='Eliminar' class='btn btn-danger'>
            </form>
            <a href="{% url "parte_list" %}" class='btn btn-primary'>Volver</a>
        </div>
    </div>
</div>


{% endblock content %}