{% extends "inventario/base.html" %}

{% block title %} Detalle Modelos {% endblock  %}

{% block content_title %}
<div class="container text-center">
    <h1>Detalle</h1>
</div>
{% endblock content_title %}

{% block content %}

<div class='container mt-5'>
    <div class='row col-12' >
        <table class="table table-light table-striped">
            <thead class="table-info"> <!-- estos son los encabezados de la tabla -->
                <tr class= "text-center">
                    <th>Cod Modelo</th>
                    <th>Clase</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Cod Vehiculo</th>
                    <th>Fecha Creacion</th>
                    <th>Fecha Modificacion</th>
                </tr>
            </thead>
            <tbody> <!-- Cuerpo de la tabla filas y columnas -->
                <tr class= "text-center align-middle">
                    <td>{{ object.cod_modelo }}</td>
                    <td>{{ object.clase }}</td>
                    <td>{{ object.marca }}</td>
                    <td>{{ object.descripcion }}</td>
                    <td>{{ object.cod_veh }}</td>
                    <td>{{ object.fecha_creacion }} </td>
                    <td>{{ object.fecha_modificacion }}</td>
                    <td>
                        {% if object.imagen %}
                        <img src="{{ object.imagen.url }}" alt="{{ object.imagen }}" class="img-thumbnail"style="max-height:80px;" >
                        {% else %}
                        -
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='row d-flex justify-content-center'>
        <div class='col-auto' >
            <a href="{% url 'modelo_list' %}" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>

{% endblock content %}