{% extends "inventario/base.html" %}

{% block title %} Registro {% endblock  %}

{% block content_title %}

    <div class="container text-center">
        <h1>Registro de usuario</h1>
    </div>

{% endblock content_title %}

{% block content %}

    <div class="container">
        <div class="mt-0 py-4 d-flex justify-content-center ">
            <form action="{% url "registro" %}" method="POST" class="text-center ">

                {% csrf_token %}

                <!-- USUARIO -->
                
                <div class="form-group col-md-12 mt-1 d-flex flex-column align-items-center">
                    <label for="{{ formulario.username.id_for_label }}" class="mb-2">Usuario</label>

                    {{ formulario.username }}

                    {% if formulario.username.errors %}
                        <ul>
                            {% for error in formulario.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <!-- EMAIL -->
                
                <div class="form-group col-md-12 mt-1 d-flex flex-column align-items-center">
                    <label for="{{ formulario.email.id_for_label }}" class="mb-2">Email</label>

                    {{ formulario.email }}

                    {% if formulario.email.errors %}
                    <ul>
                        {% for error in formulario.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <!-- CONTRASEÑA 1 -->

                <div class="form-group col-md-12 mt-1 d-flex flex-column align-items-center">
                    <label for="{{ formulario.password1.id_for_label }}" class="mb-2">Contraseña</label>

                    {{ formulario.password1 }}

                    {% if formulario.password1.errors %}
                    <ul>
                        {% for error in formulario.password1.errors %}
                            <li >{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <!-- REPETIR CONTRASEÑA  -->
                
                <div class="form-group col-md-12 mt-1 d-flex flex-column align-items-center">
                    <label for="{{ formulario.password2.id_for_label }}" class="mb-2">Repetir contraseña</label>

                    {{ formulario.password2 }}
                    
                    {% if formulario.password2.errors %}
                    <ul >
                        {% for error in formulario.password2.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <!-- BOTON REGISTRO -->
                
            <div class="text-center mt-3 btn py-2">
                <button type="submit" class='btn btn-success mt-3'>Registrarme</button>
            </div>

        </form>
    </div>
</div>
{% endblock content %}